<h1>PRODUCTOS</h1>
<%if (products.length === 0) { %>
<h2>Lista vacía</h2>
<% } else { %>
<ul>
  <% products.map(function (p){ %>
  <li><b><%= p.name %></b><span> $<%= p.price %></span><p><i>Detalle: <%=p.description%></i></p></li>
  <button id=<%=p._id%> class="btn btn-primary" type="button" onclick= "return updateCart(this.id)">AGREGAR AL CARRITO</button>
  <% }) %>
</ul>
<% } %>
<br />
<%if (admin == true) { %>
  <button class="btn btn-primary" type="submit" onclick="return postData()">CREAR UN PRODUCTO</button>
  <script type="text/javascript" src="/static/js/newProduct.js"></script>
<% } %>
<script type="text/javascript" src="/static/js/addProductToCart.js"></script>