<h1>PRODUCTOS</h1>
<%if (products.length === 0) { %>
<h2>Lista vacía</h2>
<% } else { %>
<ul>
  <% products.map(function (p){ %>
  <li><b><%= p.name %></b><span> $<%= p.price %></span><p><i>Detalle: <%=p.description%></i></p></li>
  <button id=<%=p._id%> class="btn btn-primary" type="button" onclick= "return updateCart(this.id)">AGREGAR AL CARRITO</button>
  <% }) %>
</ul>
<% } %>
<br />
<%if (user.admin === true) { %>
  <form onsubmit="postData(this)">
    <div>
      <label for="name">Nombre</label>
      <input
        type="text"
        name="name"
        id="prodName"
        placeholder="Nombre del producto"
        required
      />
    </div>
    <div>
      <label for="price">Precio</label>
      <input
        type="number"
        name="price"
        id="price"
        placeholder="Precio del producto"
        required
      />
    </div>
    <div>
      <label for="description">descripción</label>
      <input
        name="description"
        id="prodDescription"
        placeholder="Descripción del producto"
      />
    </div>
    <input class="btn btn-primary" type="submit" value="CREAR PRODUCTO">
  </form>
  <script type="text/javascript" src="/static/js/newProduct.js"></script>
<% } %>
<script type="text/javascript" src="/static/js/addProductToCart.js"></script>