<h1>PRODUCTOS</h1>
<%if (products.length === 0) { %>
<h2>Lista vacía</h2>
<% } else { %>
<ul>
  <% products.map(function (p){ return %>
  <li><b><%= p.name %></b><span><%= p.price %></span></li>
  <% }) %>
</ul>
<% } %>
<br />
<%if (admin == true) { %>
<h2>AGREGAR PRODUCTOS</h2>
<form action="/products" method="post"></form>
<% } %>