<!DOCTYPE html>
<html lang="es">
  <%- include ('head') %>
  <body>
    <h1>REGISTRARSE</h1>
    <form
      action="/auth/register"
      method="post"
      class="authForm"
      enctype="multipart/form-data"
    >
      <div>
        <label for="email">email</label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="email"
          required
        />
      </div>
      <div>
        <label for="password">Contraseña</label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Contraseña"
          required
        />
      </div>
      <div>
        <label for="name">Nombre</label>
        <input type="text" name="name" id="name" placeholder="Nombre" />
      </div>
      <div>
        <label for="lastname">Apellido</label>
        <input
          type="text"
          name="lastname"
          id="lastname"
          placeholder="Apellido"
        />
      </div>
      <div>
        <label for="phone">Teléfono movil</label>
        <input
          type="tel"
          id="phone"
          name="phone"
          pattern="[0-9]{12}"
          placeholder="541144556677"
          required
        />
      </div>
      <div>
        <label for="avatar">Subí tu avatar</label>
        <input type="file" id="avatar" name="avatar" />
      </div>
      <button type="submit">Register</button>
    </form>
    <br />
    <% if (messages.error) { %> <%= messages.error %> <% } %>
    <br />
    <a href="/auth/login" class="btn btn-primary">Log in</a>
  </body>
</html>
